{% extends '_base.html' %}

{% block title %}Guides Details{% endblock title %}

{% block content %}
<div class="guide-entry">
    <h2>{{ guide.title }}</h2>
    <p>by {{ guide.author }} | {{ guide.date }}</p>
    <p>{{ guide.body|linebreaks }}</p>
</div>
<p>Back to <a href="{% url 'guide_list' %}">All Guides</a>.</p>
{% if user.is_authenticated %}
<p><a href="{% url 'guide_edit' guide.pk %}">Edit</a> | <a href="{% url 'guide_delete' guide.pk %}">Delete</a></p>
{% endif %}
{% endblock content %}