{% extends '_base.html' %}

{% load humanize %}

{% block title %}Forums{% endblock title %}

{% block content %}
    {% for forum in forum_list %}
        <div class="card">
            <div class="card-header">
                <span class="font-weight-bold"><a href="{{ forum.get_absolute_url }}">{{ forum.title }}</a></span>
                <span class="text-muted">by <a href="{% url 'forum_by_user' forum.user %}">{{ forum.user }}</a> | {{ forum.date | naturaltime }}</span>
            </div>
            <div class="card-body">
                {{ forum.body|truncatewords:25 }}
            </div>
        </div>
        <br />
    {% endfor %}

    {% if user.is_authenticated %}
    <div>
        <a class="btn btn-info btn-md" href="{% url 'forum_new' %}">NEW</a>
    </div>
    <br>
    {% endif %}
{% endblock content %}